.am-tab-bar-bar{
    position: fixed;
}
.am-wingblank.am-wingblank-lg{
    margin:0 !important;
}
*{
    padding:0;margin:0;touch-action: none;
    -webkit-font-smoothing:antialiased;
}
p,a,li,ul,ol,dd,dt,div,h1,h2,h3,h4,h5{
    display: block;
    letter-spacing: 0.5px;
    text-decoration: none;
    color:#000;
    word-wrap: break-word;
}