.am-tab-bar-bar{
    position: fixed;
}
.am-wingblank.am-wingblank-lg{
    margin:0 !important;
}
.am-tab-bar{
    height:0;
}
.am-list-extra{
    flex-basis: 100% !important; color:#757575 !important;   font-size: 13px!important;
}
.am-list-line{
    height:14px;
}
.am-list-item{
    min-height:16px;padding: 0;
}
*{
    padding:0;margin:0;touch-action: none;
    -webkit-font-smoothing:antialiased;box-sizing: border-box;
}
p,a,li,ul,ol,dd,dt,div,h1,h2,h3,h4,h5{
    display: block;
    letter-spacing: 0.5px;
    text-decoration: none;
    color:#000;
    word-wrap: break-word;
}